body {
    background: url("https://cdn11.bigcommerce.com/s-l2xlls5oyw/images/stencil/608x608/products/31091/46063/1123bc6b-315a-4ebf-822c-de2b44e1101f__55926.1661175174.jpg") repeat;
}

table {
    background-color: bisque;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.TabeliAlapealkiri {
    width: 100%;
    line-height: 200%;
    background-color: beige;
}