@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Dancing+Script:wght@700&display=swap');

h1 {
    font-family: "Dancing Script";
    font-size: 40px;
}

body {
    background: url("https://cdn11.bigcommerce.com/s-l2xlls5oyw/images/stencil/608x608/products/31091/46063/1123bc6b-315a-4ebf-822c-de2b44e1101f__55926.1661175174.jpg") repeat;
    font-family: "DM Sans";
}

table {
    background-color: bisque;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.TabeliAlapealkiri {
    width: 100%;
    line-height: 200%;
    background-color: beige;
}
.col {
    float: left;
    margin: 2%;
}
.gallery {
    margin: 2%;
}
iframe {
    height: 400;
}

p {
    text-align: center;
}